body{
    background-color: white;
    margin:0;
    text-align: center;
}
.container{
    width:1000px;
    height: 500px;
    background-color:cadetblue;
    margin:auto;
}
.logo{
    height: 100px;
    background-color:skyblue;
}
.nav{
    height:50px;
    background-color: burlywood;
}
.section1{
    width:500px;
    height:300px;
    background-color: red;
    float:left;
}
.section2{
    width:500px;
    height:300px;
    background-color: firebrick;
    float:right;
    
}
.footer{
    height:50px;
    background-color: greenyellow;
    clear:both;
}