body{
    background-color: aquamarine;
    margin:1;
}
.logo{
height:100px;
width:1000px;
background-color:skyblue; 
    clear:both;
}
    
.section{
    width:500px;
    height:150px;
    clear:both;
}
hr{
    height: 3px;
    background: gray;
    border: 0px;
}
th,td{
    background-color:firebrick;
    border:2px solid black;
    border-collapse:collapse;
    padding:5px;
}
table{
    text-align:justify;
    width:500px;
    height:300px;
    vertical-align:top;
    margin-bottom:5px;
    border:5px solid black;
}
.footer{
    background-color: aliceblue;
    height:100px;
    width:1000px
    
}