body{
background-image:url(img/gwiazdy.jpg);
background-repeat:no-repeat;
background-size: 100%;
}
.left{
color: aqua;
height:1080px;
width:960px;
float:left;
}
.right{
height:1080px;
width:720px;
float:left;
color:aqua;
font-size: 50px;
text-align: center;
}